@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poiret+One&family=Roboto+Slab&display=swap");

:root {
  --Very-Light_blue: #ecf2ff;
  --Light-Blue: #cac9ff;
  --White: #fff;
  --Dark-Navy: #303b59;
  --red-95-white: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #f55;
  --red: #f55;
  --yellow-95-white: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #ffb21e;
  --yellow: #ffb21e;
  --green-95-white: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #00bb8f;
  --green: #00bb8f;
  --blue-95-white: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #1125d6;
  --blue: #1125d6;
}

/* Reset CSS */
html {
  box-sizing: border-box;
  font-size: 16px;
  background: var(--Very-Light_blue);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Hanken Grotesk;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* mobile stage */
.dashboard {
  width: 375px;
}
.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  border-radius: 0px 0px 32px 32px;
  height: 356px;
  width: 375px;
  text-align: center;
}
.dashboard__top--label {
  color: var(--Light-Blue);
  margin-top: 24px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.dashboard__top--circle {
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  border-radius: 50% 50%;
  width: 140px;
  height: 140px;
  margin: 24px auto 24px;
}
.dashboard__top--average {
  color: var(--White);
  font-size: 56px;
  font-weight: 800;
  line-height: 72px;
  margin: 25px 39px 0px;
}
.dashboard__top--total {
  color: var(--Light-Blue);
}
.dashboard__top--rate {
  color: var(--White);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.dashboard__top--message {
  color: var(--Light-Blue);
  font-weight: 500;
}
.dashboard__bottom {
  margin: 24px 30px 30px;
}
.dashboard__bottom--label {
  font-size: 18px;
  font-weight: 700;
  color: var(--Dark-Navy);
}
.dashboard__bottom--list {
  margin-top: 24px;
}
.dashboard__bottom--container {
  display: flex;
  margin: 0px 0px 16px;
  border-radius: 12px;
  height: 56px;
  align-items: center;
}
.label--reaction {
  color: var(--red);
}
.reaction-highlight {
  background: var(--red-95-white);
}
.memory-highlight {
  background: var(--yellow-95-white);
}
.verbal-highlight {
  background: var(--green-95-white);
}
.visual-highlight {
  background: var(--blue-95-white);
}

.label--memory {
  color: var(--yellow);
}
.label--verbal {
  color: var(--green);
}
.label--visual {
  color: var(--blue);
}
.icons {
  margin: 0px 12px 0px 16px;
}
.label--number {
  margin-left: auto;
  margin-right: 16px;
}
span {
  opacity: 0.5;
}
.dashboard__buttom--button {
  background: var(--Dark-Navy);
  color: var(--White);
  width: 100%;
  height: 56px;
  border-radius: 128px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 376px) {
  .dashboard {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* Optional: Set a fixed height if needed */
    height: 100vh; /* 100% of the viewport height */
    margin: auto;
    width: 736px;
  }
  .wrapper {
    display: flex;
    width: 736px;
    height: 512px;
    background: var(--White);
    border-radius: 32px;
  }
  .container {
    width: 368px;
    height: 512px;
    border-radius: 32px;
  }
  .dashboard__top--label {
    margin-top: 38px;
    font-size: 24px;
  }
  .dashboard__top--circle {
    margin-top: 38px;
    margin-bottom: 28px;
    height: 200px;
    width: 200px;
  }
  .dashboard__top--average {
    margin-top: 55px;
    font-size: 72px;
  }
  .dashboard__top--total {
    font-size: 18px;
  }
  .dashboard__top--rate {
    margin-bottom: 14px;
    font-size: 32px;
  }
  .dashboard__top--message {
    font-size: 18px;
  }
  .dashboard__bottom {
    width: 288px;
    margin: 38px 40px 0px;
  }
  .dashboard__bottom--list {
    margin-top: 28px;
  }

  .dashboard__bottom--label {
    font-size: 24px;
  }
  .label--reaction {
    font-size: 18px;
  }
  .label--memory {
    font-size: 18px;
  }
  .label--verbal {
    font-size: 18px;
  }
  .label--visual {
    font-size: 18px;
  }
  span {
    font-size: 18px;
  }
  .dashboard__buttom--button {
    margin-top: 25px;
    cursor: pointer;
  }
  .dashboard__buttom--button:hover {
    background: var(
      --Gradient-1,
      linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
    );
    border: none;
  }
}
